* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-section {
    background: #DEF2F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #124F7B;
    width: 100vw;
    min-height: 40vh;
    margin: 0 auto;
    font-size: 0.8em;
    overflow-x: auto;
    font-weight: bold;
}

#employee_form {
    display: table;
    border-spacing: 0 10px;
}

#employee_form label {
    display: table-row;
    text-align: right;
}

.required::before {
    content: "* ";
    color: red;
}

#employee_form input {
    display: table-row;
    padding: 5px 10px;
    border-color: blue;
    border-radius: 2px;
    border-width: 1px;
}

#employee_form_save {
    padding: 7.5px 15px;
    margin-top: 20px;
    background: #F15A25;
    border-color: #F15A25;
    border-radius: 2.5px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.table-section {
    width: 100vw;
    min-height: 40vh;
    margin: 0 auto;
    font-size: 1.2em;
    overflow-x: auto;
    font-size: 0.8em;
}

@media (min-width: 600px) {
    .table-section, .form-section {
        width: 80vw;
    }
}

@media (min-width: 768px) {
    .table-section, .form-section {
        width: 70vw;
    }
    #employee_form {
        border-spacing: 10px;
    }
    #employee_form div {
        display: table-row;
    }
    #employee_form label {
        display: table-cell;
    }
    #employee_form input {
        display: table-cell;
    }
}

@media (min-width: 992px) {
    .table-section {
        width: 60vw;
    }
    .form-section {
        width: 50vw;
    }
}

@media (min-width: 1200px) {
    .table-section {
        width: 50vw;
    }
    .form-section {
        width: 40vw;
    }
}

.table-section table {
    width: 100%;
    border-collapse: collapse;
}

.table-section th {
    background-color: #124F7B;
    color: #DEF2F9;
    padding: 5px 7.5px;
    text-align: left;
}

.table-section td {
    padding: 5px 7.5px;
    color: #124F7B;
    font-weight: bold;
}

.table-section tr:nth-child(odd) {
    background-color: #DEF2F9;
}